* {
    margin: 0;
    padding: 0;
}

body {
    font-family: lato;
}

.header-upper-part {
    background-color: #222222;
    min-height: 75px;
    display: flex;
    justify-content: space-around;
}

.header-upper-part-logo-search {
    max-width: 111px;
    min-height: 38px;
    display: flex;
    gap: 41px;
    align-items: center
}

.header-upper-search {
    width: 100%;
    max-width: 30px;
    min-height: 30px;
    display: flex;
    justify-content: center;
}

.search-icon-form {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    position: relative;
}

.search-icon-form__label {
    display: block;
    width: 100%;
    height: 100%;
}

.search-icon-form__label:hover .search-icon-form__svg {
    fill: gold;
}

.search-icon-form__label:active .search-icon-form__svg {
    fill: green;
}

.search-icon-form__svg {
    width: 100%;
    height: 100%;
    fill: #fff;
}

.search-icon-form__input {
    width: 20px;
    min-height: 20px;
    padding: 5px;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    position: absolute;
    left: 30px;
    color: #fff;
}

.search-icon-form__input:focus {
    width: 180px;
    transition: width 1s ease;
    border: 2px solid #fff;
}

.search-icon-form__input:focus~.search-icon-form__label>.search-icon-form__svg {
    fill: aqua;
}

.header-upper-part-logo {
    width: 44px;
    height: 38px;
}

.header-upper-part-menu {
    max-width: 159px;
    min-height: 29px;
    display: flex;
    gap: 33px;
    align-items: center;

}

.btn-zero {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.dropdown {
    width: 100%;
    max-width: 32px;
    min-height: 23px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    max-width: 232px;
    min-height: 634px;
    z-index: 1;
    margin: 22px 0 0 135px;
}



.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd
}

.dropdown:hover .dropdown-content {
    display: block;
}

.btn:hover,
.dropdown:hover .btn {
    background-color: #0b7dda;
}

.header-bottom-part {
    min-height: 764px;
    background: #F1E4E6;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 91px;
    flex-wrap: wrap;
}

.header-bottom-photo {
    width: 100%;
    max-width: 801px;
    min-height: 764px;
}

.header-bottom-title-model {
    width: 100%;
    max-width: 405px;
    min-height: 93px;
}

.categories {
    width: 100%;
    max-width: 1140px;
    margin: 65px auto 96px auto;
}

.categories-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, minmax(233px, 360px));
    gap: 30px;
    padding: 0;
    margin: 0;
}

.categories-item {
    min-height: 260px;
}

.categories-item-big {
    grid-column: span 3;

}

.categories-item-link {
    display: flex;
    width: 100%;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    justify-content: center;
    text-decoration: none;
}

.categories-item-woman {
    background-image: url(../img/woman.jpg);
}

.categories-item-men {
    background-image: url(../img/men.jpg);
}

.categories-item-kids {
    background-image: url(../img/kids.jpg);
}

.categories-item-accessesories {
    background-image: url(../img/accessories.jpg);
}

.categories-item-txt {
    display: flex;
    width: 100%;
    max-width: 154px;
    min-height: 50px;
    flex-direction: column;
    margin: auto;
    text-align: center;
    text-shadow: 1px 1px 2px #222222;
}

.categories-item-txt-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: white;
}

.categories-item-txt-title {
    color: #F16D7F;
}

.categories-item-txt-big {
    display: flex;
    width: 100%;
    max-width: 160px;
    min-height: 50px;
    flex-direction: column;
    margin: auto;
    text-align: center;
    text-shadow: 1px 1px 2px #222222;
}

.cards {
    width: 100%;
    max-width: 1140px;
    min-height: 1395px;
    margin: 0 auto 60px auto;
}

.cards-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
}

.cards-list-item-big {
    grid-column: 3 span;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-around;
}

.cards-list-item {
    list-style: none;
    display: flex;
    width: 100%;
    max-width: 360px;
    min-height: 581px;
    background: #F8F8F8;
    position: relative;
}

.cards-list-item:hover .cards-product-wrp::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(58, 56, 56, 0.86);
    position: absolute;
    top: 0;
    left: 0;
}

.cards-product-wrp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #F7E4E2;
    box-sizing: border-box;
    position: relative;
}

.products-item-photo {
    width: 100%;
    max-width: 360px;
}


.cards-list-item-txt-wrp {
    width: 100%;
    max-width: 315px;
    min-height: 117px;
    margin: 23.35px auto 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards-list-item-title {
    font-weight: 400px;
    font-size: 13px;
    line-height: 16px;
}

.cards-list-item-txt {
    font-weight: 300px;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.cards-list-item-price {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.cards-list-item-big-title {
    font-weight: 400px;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.cards-list-item-big-txt {
    font-weight: 400px;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;

}

.cards-list-item-btn {
    grid-column: 3 span;
    display: flex;
    justify-content: center;
}



.cards-list-item-button {
    width: 100%;
    max-width: 211px;
    min-height: 47px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    background: none;
    padding: 15px 39px;
    border: 1px solid #FF6A6A;
    white-space: nowrap;
}

.cards-list-item-button:hover {
    background: #F16D7F;
    color: white;
}

.cards-list-item-button:active {
    background: white;
    color: #F26376;
}

.products-item-btn {
    display: none;
    justify-content: center;
    align-items: center;
    width: 160px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    background: transparent;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    position: absolute;
    top: 30%;
    left: calc(50% - 80px);
}

.products-item-btn svg {
    fill: #fff;
    margin: 0 11px 0 0;
}

.cards-list-item:hover .products-item-btn {
    display: flex
}

.cards-list-item:hover .products-item-btn:hover {
    background-color: #ccc;
    color: #000;
    border: 1px solid #000;
}

.cards-list-item:hover .products-item-btn:hover svg {
    fill: #000;
}

.cards-list-item:hover .products-item-btn:active {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.cards-list-item:hover .products-item-btn:active svg {
    fill: #fff;
}

@media (max-width:1024px) {
    .header-bottom-photo-model {
        max-width: 368px;
        min-height: 368px;
    }

    .header-bottom-photo {
        max-width: 368px;
        min-height: 368px;
    }

    .header-bottom-title-model {
        max-width: 311px;
        min-height: 92px;
    }

    .header-bottom-part {
        min-height: 368px;
        gap: 39px;
        flex-wrap: nowrap;
    }

    .categories-list {
        gap: 19px;
    }

    .categories-item {
        min-height: 167px;
        object-fit: cover;
    }

    .categories-item-big {
        min-height: 116px;
    }

    .cards-list {
        gap: 19px;
    }

    .cards-list {
        grid-template-columns: repeat(2, 360px);
        gap: 16px;
        justify-content: center;
    }

    .cards-list-item-btn {
        grid-column: 2 span;
    }

    .cards-list-item-big {
        grid-column: 2 span;
    }

    .cards-list-item-button {
        margin: 32px 0 0 0;
    }
}