* {
    margin: 0;
    padding: 0;
}

body {
    font-family: lato;
}

.header-upper-part {
    background-color: #222222;
    min-height: 75px;
    display: flex;
    justify-content: space-around;
}

.header-upper-part-logo-search {
    max-width: 111px;
    min-height: 38px;
    display: flex;
    gap: 41px;
    align-items: center
}

.header-upper-search {
    width: 100%;
    max-width: 30px;
    min-height: 30px;
    display: flex;
    justify-content: center;
}

.search-icon-form {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    position: relative;
}

.search-icon-form__label {
    display: block;
    width: 100%;
    height: 100%;
}

.search-icon-form__label:hover .search-icon-form__svg {
    fill: gold;
}

.search-icon-form__label:active .search-icon-form__svg {
    fill: green;
}

.search-icon-form__svg {
    width: 100%;
    height: 100%;
    fill: #fff;
}

.search-icon-form__input {
    width: 20px;
    min-height: 20px;
    padding: 5px;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    position: absolute;
    left: 30px;
    color: #fff;
}

.search-icon-form__input:focus {
    width: 180px;
    transition: width 1s ease;
    border: 2px solid #fff;
}

.search-icon-form__input:focus~.search-icon-form__label>.search-icon-form__svg {
    fill: aqua;
}

.header-upper-part-logo {
    width: 44px;
    height: 38px;
}

.header-upper-part-logo:hover {
    background-color: #F1E4E6;
    border-radius: 10px;
}

.header-upper-part-logo:active {
    background-color:
        #222222;
    border-radius: 10px;
}

.header-upper-part-menu {
    max-width: 159px;
    min-height: 29px;
    display: flex;
    gap: 33px;
    align-items: center;

}

.btn-zero {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.dropdown {
    min-width: 32px;
    min-height: 23px;
    background: url(../img/burger.svg) no-repeat;
    position: relative;
}

.dropdown:hover {
    background-color: #F16D7F;
}

.dropdown-checkbox {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}

.dropdown-checkbox-input {
    width: 100%;
    height: 100%;
    opacity: 0;
}

#chck:checked~.dropdown-menu {
    display: flex;
    flex-direction: column;
}

.dropdown-menu {
    width: 232px;
    min-height: 634px;
    position: fixed;
    display: none;
    right: 0;
    top: 75px;
    background: white;
    box-shadow: 6px 4px 35px
}

.dropdown-menu-title {
    width: 100%;
    max-width: 55px;
    min-height: 17px;
    margin: 32px 114px 24px 33px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.dropdowm-menu-list {
    list-style: none;
    width: 100%;
    max-width: 82px;
    min-height: 17px;
    padding: 0 118px 0 32px;
}

.menu-list-subtitle-all {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    text-decoration: none;
}

.menu-list-subtitle-items {
    margin-bottom: 20px;
}

.menu-item-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.menu-item {
    list-style: none;
    padding-left: 18px;
    margin-top: 11px;
}





.header-bottom-part {
    min-height: 764px;
    background: #F1E4E6;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 91px;
    flex-wrap: nowrap;
}

.header-bottom-photo {
    width: 100%;
    max-width: 801px;
    min-width: 540px;
    min-height: 764px;
}

.header-bottom-title {
    width: 100%;
    max-width: 405px;
    min-height: 93px;
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.header-bottom-title-regtangle {
    max-width: 12px;
    width: 100%;
    min-height: 92px;
    background-color: #F16D7F;
}

.header-bottom-title-txt {
    width: 100%;
    max-width: 377px;
    min-height: 93px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.header-bottom-title-txt-h2 {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.header-bottom-title-txt-p {
    font-weight: 900;
    font-size: 28px;
    line-height: 58px;
    color: #222222;
    margin: 0px;

}

.header-bottom-title-txt-p-color {
    color: #F16D7F;
}

.categories {
    width: 100%;
    max-width: 1140px;
    margin: 65px auto 96px auto;
}

.categories-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, minmax(233px, 360px));
    gap: 30px;
    padding: 0;
    margin: 0;
}

.categories-item {
    min-height: 260px;
}

.categories-item-big {
    grid-column: span 3;
    min-height: 180px;
}

.categories-item-link {
    display: flex;
    width: 100%;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    justify-content: center;
    text-decoration: none;
}

.categories-item-woman {
    background-image: url(../img/woman.jpg);
}

.categories-item-men {
    background-image: url(../img/men.jpg);
}

.categories-item-kids {
    background-image: url(../img/kids.jpg);
}

.categories-item-accessesories {
    background-image: url(../img/accessories.jpg);
}

.categories-item-txt {
    display: flex;
    width: 100%;
    max-width: 154px;
    min-height: 50px;
    flex-direction: column;
    margin: auto;
    text-align: center;
    text-shadow: 1px 1px 2px #222222;
}

.categories-item-txt-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: white;
}

.categories-item-txt-title {
    color: #F16D7F;
}

.categories-item-txt-big {
    display: flex;
    width: 100%;
    max-width: 160px;
    min-height: 50px;
    flex-direction: column;
    margin: auto;
    text-align: center;
    text-shadow: 1px 1px 2px #222222;
}

.cards {
    width: 100%;
    max-width: 1140px;
    min-height: 1395px;
    margin: 0 auto 60px auto;
}

.cards-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 360px));
    gap: 30px;
}

.cards-list-item-big {
    grid-column: 3 span;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-around;
}

.cards-list-item {
    list-style: none;
    display: flex;
    width: 100%;
    max-width: 360px;
    min-height: 581px;
    background: #F8F8F8;
    position: relative;
}

.cards-list-item:hover .cards-product-wrp::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(58, 56, 56, 0.86);
    position: absolute;
    top: 0;
    left: 0;
}

.cards-product-wrp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #F7E4E2;
    box-sizing: border-box;
    position: relative;
}

.products-item-photo {
    width: 100%;
    max-width: 360px;
    object-fit: cover;

}


.cards-list-item-txt-wrp {
    width: 100%;
    max-width: 315px;
    min-height: 117px;
    margin: 23.35px auto 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards-list-item-title {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.cards-list-item-txt {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.cards-list-item-price {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.cards-list-item-big-title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.cards-list-item-big-txt {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;

}

.cards-list-item-btn {
    grid-column: 3 span;
    display: flex;
    justify-content: center;
}



.cards-list-item-button {
    width: 100%;
    max-width: 211px;
    min-height: 47px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    background: none;
    padding: 15px 39px;
    border: 1px solid #FF6A6A;
    white-space: nowrap;
}

.cards-list-item-button:hover {
    background: #F16D7F;
    color: white;
}

.cards-list-item-button:active {
    background: white;
    color: #F26376;
}

.products-item-btn {
    display: none;
    justify-content: center;
    align-items: center;
    width: 160px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    background: transparent;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    position: absolute;
    top: 30%;
    left: calc(50% - 80px);
}

.products-item-btn svg {
    fill: #fff;
    margin: 0 11px 0 0;
}

.cards-list-item:hover .products-item-btn {
    display: flex
}

.cards-list-item:hover .products-item-btn:hover {
    background-color: #ccc;
    color: #000;
    border: 1px solid #000;
}

.cards-list-item:hover .products-item-btn:hover svg {
    fill: #000;
}

.cards-list-item:hover .products-item-btn:active {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.cards-list-item:hover .products-item-btn:active svg {
    fill: #fff;
}

.footer-top {
    background: #222224;
    width: 100%;
    min-height: 341px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer-top-card-delivery,
.footer-top-card-sales,
.footer-top-card-quality {
    width: 100%;
    max-width: 360px;
    min-height: 134px;
    text-align: center;
    padding: 104px 0 0 0;
}

.footer-top-card-sales-title,
.footer-top-card-quality-title,
.footer-top-card-delivery-title {
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    margin-top: 25px;
}

.footer-top-card-delivery-txt,
.footer-top-card-sales-txt,
.footer-top-card-quality-txt {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
    margin-top: 16px;
}

.footer-center-1 {
    width: 100%;
    min-height: 448px;
    display: flex;
    gap: 224px;
    align-items: center;
    justify-content: center;
}

.footer-center {
    width: 100%;
    min-height: 448px;
    display: contents;
    position: relative;
}

.footer-center-bg {
    width: 100%;
    min-height: 448px;
    background-image: url(../img/footer-bg.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    opacity: 0.3;
}


.footer-center-left {
    width: 100%;
    max-width: 360px;
    min-height: 225px;
    text-align: center;
    z-index: 3;
}

.footer-center-left-txt {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-top: 30px;
    color: #222224;
}

.footer-center-rigtht {
    max-width: 557px;
    width: 100%;
    min-height: 142px;
    z-index: 3;
}

.footer-center-rigtht-email {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    min-height: 49px;
}

input[type="email"] {
    padding: 7px 10px 6px 23px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #E1E1E1;
    border: none;
    border-radius: 20px 0 0 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    outline: none;
}

input[type="email"]::placeholder {
    color: #8B8B8C;
}

input[type="email"]:focus {
    cursor: pointer;
}

.footer-center-rigtht-email-btn {
    display: block;
    padding: 7px 20px 6px 21px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    border-radius: 0 20px 20px 0;
    background-color: #F16D7F;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.footer-center-rigtht-email-btn:hover {
    background: #E05C6E;
}

.footer-center-rigtht-email-btn:active {
    background: #F16D7F;
}

.footer-center-rigtht-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #222224;
}

.footer-center-rigtht-txt {
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #222224;
}

.footer-bottom {
    width: 100%;
    min-height: 79px;
    background-color: #222224;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-bottom-txt {
    width: 100%;
    max-width: 332px;
    min-height: 19px;
    display: flex;
    align-items: center;

}

.footer-bottom-txt-brand {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.footer-bottom-links-social-list {
    width: 100%;
    max-width: 148px;
    min-height: 32px;
    align-items: center;
    display: flex;
    list-style: none;
    gap: 7px;
}



.footer-bottom-links-social-all {
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: black;
}

.footer-bottom-links-social-all:hover {
    background: #F16D7F;
    fill: white;
}

.footer-bottom-links-social-all:active {
    background: white;
    fill: black;
}



@media (max-width:1024px) {
    .header-bottom-photo-model {
        max-width: 368px;
        min-height: 368px;
    }

    .header-bottom-photo {
        max-width: 368px;
        min-width: 354px;
        min-height: 368px;
    }



    .header-bottom-part {
        min-height: 368px;
        gap: 39px;
        flex-wrap: nowrap;
    }

    .header-bottom-title-txt {
        width: 100%;
        max-width: 283px;
        min-height: 78px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .header-bottom-title-txt-h2 {
        font-weight: 900;
        font-size: 44px;
        line-height: 53px;
        color: #222222;
    }

    .header-bottom-title-txt-p {
        font-weight: 900;
        font-size: 22px;
        line-height: 55px;
        color: #222222;
        margin: 0px;
    }

    .categories-list {
        gap: 19px;
        padding: 0 16.5px 0 16.5px;
    }

    .categories-item {
        min-height: 167px;
        object-fit: cover;
    }

    .categories-item-big {
        min-height: 116px;
    }

    .cards-list {
        gap: 19px;
    }

    .cards-list {
        grid-template-columns: repeat(2, 360px);
        gap: 16px;
        justify-content: center;
    }

    .cards-list-item-btn {
        grid-column: 2 span;
    }

    .cards-list-item-big {
        grid-column: 2 span;
    }

    .cards-list-item-button {
        margin: 32px 0 0 0;
    }

    .footer-top {
        flex-direction: column;
        align-items: center;
        padding-bottom: 64px;
        gap: 48px;
    }

    .footer-center-bg {
        min-height: 610px;
    }

    .footer-center-1 {
        flex-direction: column;
        gap: 48px;
        padding-top: 81px;
        padding-bottom: 81px;
    }
}

@media (max-width:767px) {
    .header-profil-btn {
        display: none;
    }

    .header-basked-btn {
        display: none;
    }

    .header-bottom-part {
        justify-content: center;
        min-height: 363px;
    }

    .header-bottom-photo {
        display: none;
    }

    .header-bottom-title-model {
        max-width: 263px;
        min-height: 66px;
    }

    .header-bottom-title {
        justify-content: center;
        gap: 15px;
    }

    .header-bottom-title-regtangle {
        max-width: 12px;
        min-height: 61px;
    }

    .header-bottom-title-txt {
        max-width: 236px;
        min-height: 66px;
    }

    .header-bottom-title-txt-h2 {
        font-size: 38px;
        line-height: 46px;
    }

    .header-bottom-title-txt-p {
        font-size: 19px;
        line-height: 51px;
    }

    .categories-list {
        grid-template-columns: repeat(1, minmax(300px, 767px));
        min-height: 247px;
    }

    .categories-item-big {
        grid-column: 1 span;
    }

    .categories-item-link {
        display: flex;
        width: 100%;
        max-width: 343px;
        background-size: cover;
        justify-content: center;
        text-decoration: none;
        margin: auto;
    }

    .cards-list {
        grid-template-columns: repeat(1, minmax(300px, 767px));
        gap: 16px;

    }

    .cards-list-item {
        margin: auto;
    }

    .cards-list-item-btn {
        grid-column: 1;
    }

    .cards-list-item-big {
        grid-column: 1;
    }

    .products-item-photo {
        object-fit: cover;
    }

    .cards-list-item-big-txt {
        margin-bottom: 65px;
    }

    .categories-item-kids {
        min-height: 248px;
    }

    .categories-item-men {
        min-height: 248px;
    }

    .categories-item-woman {
        min-height: 248px;
    }

    .search-icon-form__input {
        max-width: 57px;
    }

    .footer-bottom-txt {
        justify-content: center;
    }

    .footer-bottom {
        flex-direction: column-reverse;
        gap: 40px;
        padding-bottom: 9px;
        padding-top: 43px;
    }

    .footer-center-1 {
        padding-top: 81px;
        padding-bottom: 81px;
    }

    .footer-inpet-email {
        max-width: 180px;
    }

    .footer-center-rigtht-txt {
        font-size: 15px;
    }
}